.ButtonActions {
  display: inline !important;

  // .MoreButtonGroup {
  //   margin-left: 5px !important;
  // }

  .ExportButtonGroupLabel {
    background-color: var(--color-primary) !important;
    color: #fff !important;
    // border-radius: 10px !important;
    // border-radius: 28571429rem;
  }

  // .ui.basic.black.button,
  // .ui.basic.black.buttons .button {
  //   box-shadow: none !important;
  // }

  .ExportButton {
    cursor: pointer !important;
    box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 0px rgba(0,0,0,0.24) !important;
    border-radius: .28571429rem !important;
    // max-width: 72px !important;
  }
}
