
.js-plotly-plot .plotly .modebar--hover > :not(.watermark) {
  opacity: 1;
  transition: none;
  margin-top: -5px;
}

.js-plotly-plot .plotly .modebar-btn {
  font-size: 20px;
}

.js-plotly-plot .plotly .modebar-group {
  margin-top: -5px !important;
}

.plotlyjsicon,
a[data-title='Download plot as a png'] {
  visibility: hidden !important;
}
.plotlyjsicon,
a[data-title='Download plot'] {
  visibility: hidden !important;
}

.notifier-note {
  display: none !important;
}