.SidebarContainer {
  // background-color: #F6F6F6;
  background-color: #e0e1e2;
  overflow: auto !important;
  min-height: calc(100vh - 57px) !important;
  height: auto !important;

  @media (max-width: 677px) {
    padding-right: 10px !important;
  }

  .SearchContainer {
    padding: 20px 20px 5px 20px !important;
  }

  .FilterStudyContainer {
    padding-top: 15px;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
  }

  .StudyHtmlIconDivE {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 14%;
  }

  .StudyHtmlIconDivP {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 17%;
  }

  .StudyHtmlIcon {
    cursor: pointer !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.94) !important;
  }

  .DisabledLink {
    pointer-events: none !important;
    cursor: default !important;
  }

  i.inverted.circular.icon {
    background-color: var(--color-primary) !important;
  }

  i.inverted.circular.DisabledLink {
    background-color: var(--color-grey) !important;
  }

  .PValueTypeContainer {
    padding-top: 10px !important;
    padding-left: 20px;
  }

  .greyText {
    opacity: 0.15 !important;
    font-weight: bold;
    font-size: 13px;
  }

  .normalText {
    font-weight: bold;
    font-size: 13px;
  }

  .ui.positive.button {
    background-color: var(--color-primary) !important;
  }

  // .pValueButton {
  //   // padding-top: 0.2rem !important;
  //   // padding: .2em 1em .2em !important;
  //   // font-size: 1rem !important;
  // }

  .MultisetContainer {
    padding: 0px 20px 0px 20px !important;
  }

  .MultisetFiltersDiv {
    padding: 0px !important;
    margin: 0px;
  }

  .SliderDiv {
    .ui.toggle.checkbox input:checked ~ .box:before,
    .ui.toggle.checkbox input:checked ~ label:before {
      background-color: var(--color-primary) !important;
    }

    .CursorNotAllowed {
      cursor: not-allowed !important;
    }
  }

  .MultisetFilterButtonDiv {
    margin: 25px 25% 0px 25% !important;

    #MultisetFilterButtonDark {
      background-color: var(--color-primary) !important;
      color: white !important;
      // max-width: 200px;
      margin: 0px !important;
    }
    #MultisetFilterButtonLight {
      background-color: var(--color-dark) !important;
      color: var(--color-light) !important;
      // max-width: 200px;
      margin: 0px !important;
    }
  }

  .FloatRight {
    // margin-top: 10px !important;
    float: right !important;
  }

  .Block {
    display: block !important;
    margin-top: 10px !important;
  }

  .ViewPlotRadio label {
    color: var(--color-primary) !important;
  }
  .ViewPlotInfo {
    padding-left: 5px;
    cursor: pointer !important;
  }
}

.MultisetSvgOuter {
  padding-left: 35px !important;
  width: 100%;
}

#enrichmentMultisetAnalysisSVGDiv,
#differentialMultisetAnalysisSVGDiv {
  height: 100% !important;
  max-height: 75vh !important;
  width: inherit !important;
}
