.svgContainer {
  height: 100% !important;
  width: 100% !important;
  margin: 0px 15px 0px 15px !important;
}

.svgDiv {
  height: 100% !important;
  width: 100% !important;
}

.svgSpan {
  height: 100% !important;
  width: 100% !important;
}

.SVGPlot {
  min-height: 75vh !important;
}