.TableCellLink {
  color: var(--color-link);
  // color: var(--color-primary);
  font-weight: bold;
  // font-size: 14px;
  cursor: pointer !important;
}

.ExternalSiteIcon {
  float: right;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.ExternalSiteIcon:hover {
  transform: scale(1.2);
}

.TableValue {
  cursor: pointer !important;
}

.TablePopupValue {
  word-break: break-all !important;
}
