.TableCellLink {
  color: var(--color-link);
  font-weight: bold;
  cursor: pointer !important;
  font-size: 13px !important;
  text-decoration: underline;
}

.TableCellBold {
  color: var(--color-dark);
  font-weight: bold;
  font-size: 13px !important;
}

.ExternalSiteIcon {
  float: right;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  margin-right: 2px;
}

.ExternalSiteIcon:hover {
  transform: scale(1.2);
}

.TableValue {
  cursor: pointer !important;
}

.TablePopupValue {
  word-break: break-all !important;
}

.ResultsTableWrapper {
  padding: 0px !important;

  .QHGrid--generalSearch.QHGrid--generalSearch.QHGrid--generalSearch.QHGrid--generalSearch
    input {
    border: 1px solid lightgrey;
  }
  .QHGrid--generalSearch:nth-child(1) {
    margin-left: 127px !important;
    margin-bottom: 10px;
  }
}
