@use 'sass:list';
@use 'sass:math';

//variables
$speed: 2.5; //second
$part-second: 0.25; //second
$speed: $speed + $part-second * 4;
$animation-timing: ease-in-out;
$logo-width: 180px;
$loader-active-plots-dot-count: 5;
$loader-active-plots-dot-width: math.div($logo-width, 3);
$rotateFinish: math.percentage(math.div($speed - ($part-second * 4), $speed));
$scaleFinish: math.div($rotateFinish, 2);
$loader-active-plots-dot-positions: (
  (120, -209, top, right),
  (-161, -194, bottom, right),
  (-161, -101, bottom, right),
  (116, 200, top, left),
  (-161, 214, bottom, left)
);
.loading {
  * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  width: 100%;
  height: 100%;
  .logo {
    background-image: 'icon.png';
    background-repeat: no-repeat;
    background-position: center;
    width: $logo-width;
    height: 100%;
  }
  .loader-active-plots-dots {
    &.animate {
      .loader-active-plots-dot {
        animation: loading-block $speed * 1s $animation-timing infinite;
        &:after {
          animation: loading-loader-active-plots-dot $speed * 1s
            $animation-timing infinite;
        }
      }
    }
    .loader-active-plots-dot {
      width: 300px;
      height: 300px;
      &:after {
        content: '';
        display: inline-block;
        width: $loader-active-plots-dot-width;
        height: $loader-active-plots-dot-width;
        background-color: var(--color-primary);
        border-radius: 50%;
        position: absolute;
        transform: scale(0.17);
      }
      @for $i from 1 through $loader-active-plots-dot-count {
        $position: list.nth($loader-active-plots-dot-positions, $i);
        $vertical-origin: list.nth($position, 3);
        $horizontal-origin: list.nth($position, 4);
        &:nth-child(#{$i}) {
          top: #{list.nth($position, 1)}px;
          left: #{list.nth($position, 2)}px;
          animation-delay: ($i - 1) * $part-second * 1s;
          &:after {
            transform-origin: #{$vertical-origin} #{$horizontal-origin};
            #{$vertical-origin}: 0;
            #{$horizontal-origin}: 0;
            animation-delay: ($i - 1) * $part-second * 1s;
          }
        }
      }
    }
  }
}

@keyframes loading-block {
  #{$rotateFinish},
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@keyframes loading-loader-active-plots-dot {
  0%,
  #{$rotateFinish},
  100% {
    transform: scale(0.17);
  }
  #{$scaleFinish} {
    transform: scale(1);
  }
}
@keyframes gradient {
  50% {
    background-position: 100% 0%;
  }
}
