.VolcanoPlotButton {
  position: absolute !important;
  cursor: pointer !important;
  z-index: 1 !important;
  width: 45px;
  height: 45px !important;
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.54) !important;
  border-radius: 0px !important;
  margin: 27px 10px 10px 15px !important;
}
#VolcanoPlotButton {
  height: 45px !important;
  width: 45px !important;
}
.CursorNotAllowed {
  cursor: not-allowed !important;
}
.PlotInstructions {
  height: 100%;
}
@media (max-width: 1199px) {
  // .PlotButton {
  //   position: block !important;
  //   display: relative !important;
  //   margin-top: 10px !important;
  //   padding-left: 15px !important;
  //   cursor: pointer !important;
  //   height: 47px !important;
  //   width: 100px !important;
  //   border: none !important;
  // }
  .VolcanoPlotFilters {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.PlotInstructionsText {
  text-align: center !important;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#PlotSVG {
  padding-right: 25px !important;

  svg {
    width: inherit !important;
    height: -webkit-fill-available !important;
  }
}

#xAxisSelector,
#yAxisSelector,
#volcanoCircleSelector {
  min-width: 113px !important;
}

.VolcanoAxisLabel {
  margin-right: -1px !important;
  border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  padding: 11px 10px !important;
  min-width: 60px;
}

#VolcanoAxisLabelY,
#VolcanoCircleLabel {
  margin-left: 35px !important;
}

@media (max-width: 1598px) {
  .VolcanoAxisLabel {
    line-height: 1.2 !important;
  }
}

@media (min-width: 1599px) {
  .VolcanoAxisLabel {
    line-height: 1.4 !important;
  }
}

.VolcanoPlotAxisSelectorsRow {
  padding-top: 27px !important;
  padding-bottom: 0px !important;
}

// .VolcanoTransformationCheckbox,

.VolcanoPlotAxisSelectorsRow {
  .ui.checkbox label:before {
    // border: 1px solid #d4d4d5 !important;
    border: 1px solid black !important;
    opacity: 1 !important;
  }
  .ui.disabled.checkbox label:before {
    // border: 1px solid #d4d4d5 !important;
    border: 1px solid var(--color-dark) !important;
    opacity: 1 !important;
  }
}
#VolcanoViewRow {
  padding-bottom: 0px !important;

  .VolcanoSplitPane {
    position: relative !important;
    padding-bottom: 50px !important;

    .QHGrid--header {
      padding-top: 15px !important;
      padding-bottom: 10px !important;
    }
    .QHGrid--generalSearch input {
      border: 1px solid lightgrey !important;
    }
  }

  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .Resizer.horizontal {
    padding: 1px 0px !important;
    height: 16px;
    margin: -8px 0;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-bottom: 8px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
    z-index: 4 !important;
  }

  .Resizer.horizontal:hover {
    border-top: 8px solid var(--color-primary);
    border-bottom: 8px solid var(--color-primary);
  }

  .Resizer.vertical {
    padding: 0px 1px !important;
    width: 16px;
    margin: 0 -8px -50px 8px;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 8px solid var(--color-primary);
    border-right: 8px solid var(--color-primary);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}

// .ui.visible.overlay.sidebar {
//   transition: transform 0.5s step-end 0.1s !important;
// }
