.DifferentialVolcano {
  direction: ltr !important;
  // .ui.selectable.table tbody tr:first-child, .ui.selectable.table tbody tr:first-child:hover {
  //     background: #f14000 !important;
  //     color: white !important;
  // }
  .ui.mini.image {
    width: 35px !important;
    //     height: 35px !important;
  }

  .QHGrid table th:first-child {
    padding-top: 7px !important;
    padding-bottom: 15px !important;
  }

  .TableValue {
    cursor: auto !important;
  }
}
.VolcanoPlotAxisSelectorsRow {
  padding-bottom: 0px !important;
}

.VolcanoPlotSplitter {
  width: 100% !important;
  min-height: 90vh !important;
  padding-left: 20px !important;
}

#volcanoDiv1 {
  position: relative;
  width: 100%;
  height: auto !important;
  overflow: auto;
  min-height: 425px;
}
#volcanoDiv1Row {
  padding-bottom: 0px !important;
  #volcanoDiv2 {
    // margin-top: 50px !important;
    position: relative;
    height: auto !important;
    min-height: 425px;
  }
}

#volcanoDiv2Row {
  padding-top: 0px !important;
}

.VolcanoPlotSVGPlot {
  width: 100% !important;
}

.volcanoDiv1SplitPane {
  position: relative !important;
  padding-bottom: 5px !important;
}
