.VolcanoPlotButton {
  position: absolute !important;
  cursor: pointer !important;
  z-index: 4 !important;
  border: none !important;
  border-radius: 0px !important;
  margin: -15px 10px 10px 45% !important;
}

.UpperPlotsToggle {
  position: absolute !important;
  cursor: pointer !important;
  z-index: 4 !important;
  border: none !important;
  border-radius: 0px !important;
  margin: 20px 0px 0px 45% !important;
}

.CursorNotAllowed {
  cursor: not-allowed !important;
}
#CursorNotAllowed {
  cursor: not-allowed !important;
}
.PlotInstructions {
  height: 100%;
}
@media (max-width: 1199px) {
  // .PlotButton {
  //   position: block !important;
  //   display: relative !important;
  //   margin-top: 10px !important;
  //   padding-left: 15px !important;
  //   cursor: pointer !important;
  //   height: 47px !important;
  //   width: 100px !important;
  //   border: none !important;
  // }
  .VolcanoPlotFilters {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.PlotInstructionsText {
  text-align: center !important;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#PlotsSingleFeatureContainer,
#PlotsMultiFeatureContainer {
  padding-right: 0px !important;

  svg {
    width: inherit !important;
    height: -webkit-fill-available !important;
  }
}

#xAxisSelector,
#yAxisSelector,
#volcanoCircleSelector {
  min-width: 113px !important;
  .visible.menu {
    width: auto !important;
  }
}

.VolcanoAxisLabel {
  margin-right: -1px !important;
  border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
  // background-color: var(--color-dark) !important;
  background-color: var(--color-light) !important;
  color: var(--color-dark) !important;
  padding: 11px 10px !important;
  min-width: 60px;
}

@media (max-width: 1598px) {
  .VolcanoAxisLabel {
    line-height: 1.2 !important;
  }
}

@media (min-width: 1599px) {
  .VolcanoAxisLabel {
    line-height: 1.4 !important;
  }
}

.VolcanoPlotAxisSelectorsRow {
  padding-top: 27px !important;
  padding-bottom: 0px !important;
  width: 100% !important;
}

// .VolcanoTransformationCheckbox,

.VolcanoPlotAxisSelectorsRow {
  .ui.checkbox label:before {
    // border: 1px solid #d4d4d5 !important;
    border: 1px solid black !important;
    opacity: 1 !important;
  }
  .ui.disabled.checkbox label:before {
    // border: 1px solid #d4d4d5 !important;
    border: 1px solid var(--color-dark) !important;
    opacity: 1 !important;
  }
}
#VolcanoViewRow {
  padding-bottom: 0px !important;

  .VolcanoSplitPane {
    max-width: 100% !important;
    position: relative !important;
    padding-bottom: 0px !important;
    // transition: all 2s ease-out;

    .QHGrid--header {
      padding-top: 15px !important;
      padding-bottom: 10px !important;
      padding-left: 0px !important;
    }

    .QHGrid--generalSearch {
      z-index: 3 !important;
    }
    .QHGrid--generalSearch input {
      border: 1px solid lightgrey !important;
    }
  }

  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .Resizer.horizontal {
    padding: 1px 0px !important;
    height: 16px;
    margin: -8px 0;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-bottom: 8px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
    z-index: 4 !important;
  }

  .Resizer.horizontal:hover {
    border-top: 8px solid var(--color-primary);
    border-bottom: 8px solid var(--color-primary);
  }

  .Resizer.vertical {
    padding: 0px 1px !important;
    width: 16px;
    margin: 0 -8px -50px 8px;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 8px solid var(--color-primary);
    border-right: 8px solid var(--color-primary);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}

.MultiFeaturePlotBtn {
  margin-top: 5px !important;
  margin-left: 255px !important;
  cursor: pointer !important;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24) !important;
  z-index: 2 !important;
}

.MultiFeaturePlotBtnDiv {
  position: absolute;
  // right: 50% !important;
  margin-top: 13px;
  z-index: 2 !important;

  // .MultiFeaturePlottingBtn {
  //   font-size: 13px !important;
  //   height: 28px !important;
  // }
}

.MultiFeaturePlotBtnOutline {
  border: 2px solid var(--color-link) !important;
  color: var(--color-link) !important;
  background-color: var(--color-white) !important;
}
.MultiFeaturePlotBtnActive {
  border: 2px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
  background-color: var(--color-white) !important;
}
// .ui.visible.overlay.sidebar {
//   transition: transform 0.5s step-end 0.1s !important;
// }

// .DifferentialDetailMultiModelText {
//   position: absolute;
//   z-index: 1;
//   margin-top: 19px;
//   margin-left: 240px !important;
// }

#VolcanoOptionsPopup {
  position: absolute !important;
  margin-top: 8px;
  // margin-left: 50px;
  cursor: pointer;
  z-index: 1111111111 !important;
  // top: 0 !important;
  // right: 0 !important;
}

#FullScreenButton,
#FullScreenIcon,
#FeaturesListButton,
#FeaturesListIcon {
  position: absolute !important;
  margin-top: 8px;
  // margin-left: 50px;
  cursor: pointer;
  // z-index: 1111111111 !important;
  // top: 0 !important;
  // right: 0 !important;
}

#FeaturesListButton {
  left: 235px;
}
#FeaturesListIcon {
  left: 215px;
}
#FullScreenButton {
  left: 370px;
}
#FullScreenIcon {
  left: 290px;
}

#FeaturesListTooltip {
  top: 5px !important;
  left: -205px !important;
  border-bottom: 2px solid var(--color-primary);
  background-color: var(--color-dark) !important;
  padding: 10px;
}

#VolcanoUsagePopup {
  position: absolute !important;
  margin-top: 8px;
  cursor: pointer;
  z-index: 1111111111 !important;
  // top: 0 !important;
  left: 110px !important;
  // bottom: 0;
  // left: 0;
  // margin-bottom: -40px;
}
#VolcanoUsagePopupContent {
  padding-top: 8px !important;
}
#OptionsTooltip {
  top: -38px !important;
  left: -265px !important;
  border-bottom: 2px solid var(--color-primary);
  background-color: var(--color-dark) !important;
  padding: 10px 10px 20px 20px;
}

#UsageTooltip {
  // top: -38px !important;
  // left: -265px !important;
  border-bottom: 2px solid var(--color-primary);
  background-color: var(--color-dark) !important;
  padding: 10px 10px 20px 20px;
  // min-width: 300px;
  max-width: 350px;
}

#ToggleAllCheckbox {
  position: absolute !important;
  margin-top: 80px;
  margin-left: 17px;
  color: var(--color-dark);
  cursor: pointer;
  z-index: 1;
}

#ToggleAllCheckboxInfo {
  position: absolute !important;
  margin-top: 70px;
  margin-left: 20px;
  color: var(--color-dark);
  cursor: pointer;
  z-index: 1;
}

.toggleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.th-select {
  position: relative;
}

#MultiSelectColumnHeader {
  font-size: 15px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#MultiFeatureSearchPopup {
  top: 61px !important;
  left: -235px !important;
}

#multiFeatureSearchTextError {
  margin: 10px 0 !important;
  color: var(--color-primary);
}

#multiFeatureSearchWarning {
  margin: 10px 0 !important;
  // color: var(--color-primary);
}

#MultiFeaturesSearchedList {
  margin: 10px 0 5px 0;
}

#multiFeatureSearchTextArea {
  margin: 10px 0;
}

#ClearMultiFeatureSearchLabel {
  padding-right: 0;
}

#MultiFeatureSearchToggle {
  padding: 10px;
  margin-left: 5px;
}

#LimitNotFoundText,
#LimitFilteredOutText {
  font-size: 14px;
}

#MultiFeatureSearchTermsLabel {
  background-color: #2185d0;
  color: white;
  border-radius: 0;
}
