//.volcanoPlotContainer {
.volcanoPlotSVG {
  margin: 0 auto;
  display: block;
  //opacity: 0.6;
  // shape-rendering: 'crispEdges';
  // stroke: white;
}

.volcanoPlotYAxis {
  stroke: #838383;
  stroke-width: 2px;
}
.volcanoPlotXAxis {
  stroke: #838383;
  stroke-width: 1;
}
.axisLabel {
  stroke: #000;
  font-weight: bold;
}
// .volcanoPlot-dataPoint {
//   stroke: #000;
//   stroke-width: 0.4;
//   fill: var(--color-link);
// }
// .volcanoPlot-dataPoint.selected {
//   stroke: #000;
//   stroke-width: 0.4;
//   fill: var(--color-tertiary);
// }
// .volcanoPlot-dataPoint.highlighted {
//   stroke: #000;
//   stroke-width: 0.4;
//   fill: var(--color-primary-gradient);
// }
// .volcanoPlot-dataPoint.highlightedMax {
//   stroke: #000;
//   stroke-width: 0.4;
//   fill: var(--color-primary);
// }

#VolcanoChart {
  margin-left: 20px !important;
  margin-top: 5px !important;
}
//}
