// .volcanoPlotContainer{
//     margin: 0 auto;
// }

.volcanoPlotSVG{
    margin: 0 auto;
    display: block;
}

.volcanoPlotYAxis{
    stroke: #838383;
    stroke-width: 2px;
}
.volcanoPlotXAxis{
    stroke: #838383;
    stroke-width: 2px;
}
.axisLabel{
    font-weight: bold;
}
.volcanoPlot-dataPoint {
    stroke: black;
    stroke-width: 0.4;
    fill: blue;
}
.volcanoPlot-dataPoint.hovered{
    stroke: lightskyblue;
    stroke-width: 5;
}
.volcanoPlot-dataPoint.selected {
    stroke: var(--color-primary-gradient);
    stroke-width: 4;
}
.volcanoPlot-dataPoint.highlighted {
    stroke: var(--color-primary-gradient);
    stroke-width: 4;
}
.volcanoPlot-dataPoint.highlightedMax {
    stroke: var(--color-primary);
    stroke-width: 7;
}