.MetafeaturesTableDiv {
  margin-top: -10px !important;
  height: 100% !important;
  direction: ltr !important;
  // .ui.selectable.table tbody tr:first-child, .ui.selectable.table tbody tr:first-child:hover {
  //     background: #f14000 !important;
  //     color: white !important;
  // }
  .ui.mini.image {
    width: 35px !important;
    //     height: 35px !important;
  }

  .QHGrid table th:first-child {
    padding-top: 7px !important;
    padding-bottom: 15px !important;
  }
  .QHGrid table thead tr:nth-of-type(2) th:nth-of-type(1) {
    background-color: var(--color-link) !important;
    padding: 10px !important;
  }

  // .QHGridHeaderDiv {
  .QHGridBodyDiv {
    min-height: 275px !important;
    height: 100% !important;
  }

  .TableValue {
    cursor: auto !important;
  }
}

.TableLoadingDiv {
  margin-top: 50px !important;
}
