.VolcanoPlotSVG {
  margin: 0 auto;
  display: block;
  cursor: crosshair !important;
}

.volcanoPlotAxis {
  stroke: #838383;
  stroke-width: 1;
}

// .tick text {
//   font-size: 13px;
// }

#VolcanoChart {
  margin-left: 0px !important;
  margin-top: 45px !important;
}
