#VolcanoPlotDiv {
  // margin-bottom: 5px;
  .ExportButtonGroup {
    margin-top: 4px !important;
    float: right !important;
  }
}

.PlotInstructions {
  height: 100%;
}

.UsagePadding,
.OptionsPadding {
  padding-right: 9px !important;
}
