:root {
  // --color-primary: #ff4400;
  --color-primary: rgba(255, 68, 0, 1);
  // --color-primary-gradient: #ff7e38;
  --color-primary-gradient: rgba(255, 126, 5, 1);
  --color-secondary: #2c3b78;
  --color-secondary-gradient: #465fc5;
  --color-tertiary: #00aeff;
  --color-link: #1678c2 !important;
  --color-white: #fff;
  --color-light: #e0e1e2;
  --color-dark: #2e2e2e;
}

.AppContainer {
  height: 100vh !important;

  @media (max-width: 1199px) {
    .deviceMargin {
      margin: 20px 15px 30px 15px !important;
    }
  }

  @media (min-width: 1200px) {
    .deviceMargin {
      margin: 0px !important;
    }
  }

  .EnrichmentContentContainer {
    height: calc(100vh - 57px) !important;
    margin-top: 0px !important;
    padding-left: 20px !important;

    .LoaderContainer {
      padding-top: 120px;
    }
  }

  .DifferentialContentContainer {
    height: calc(100vh - 57px) !important;
    margin-top: 0px !important;
    // padding-left: 20px !important;

    .LoaderContainer {
      padding-top: 120px;
    }
  }

  .ActionsRow {
    margin-top: 15px !important;
    padding-top: 13px !important;
  }

  .ChartsContainer {
    margin-top: 0px !important;
    padding-top: 0px !important;
    min-height: 75vh !important;
  }

  // QH Grid Overrides
  .QHGrid {
    padding-top: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .QHGrid table tr th:first-child {
    background-color: #fff !important;
    //   padding-right: 0px !important;
    //   padding-left: 0px !important;
  }

  .QHGrid table th span {
    float: right;
  }

  .QHGrid table {
    margin-top: 0px !important;
    border: none !important;
    thead th {
      border-bottom: none !important;
    }
  }

  tfoot tr th {
    border-top: 1px solid grey !important;
  }

  .QHGrid--body thead tr th {
    border-top: 1px solid lightgrey !important;
    border-bottom: 1.5px solid grey !important;
  }

  // .QHGridHeaderDiv {
  .QHGridBodyDiv {
    margin-top: 10px !important;
  }

  .QHGrid--loading {
    padding: initial !important;
    margin: initial !important;
  }

  .QHGrid--empty {
    height: auto !important;
  }

  //icons
  i.orange.icon {
    color: var(--color-primary) !important;
  }
  i.inverted.orange.icon,
  i.inverted.bordered.orange.icon,
  i.inverted.circular.orange.icon {
    color: #fff !important;
    // background-color: var(--color-primary) !important;
  }

  // .ui.toggle.checkbox input:checked ~ .box:before,
  // .ui.toggle.checkbox input:checked ~ label:before {
  //   background-color: var(--color-primary) !important;
  // }
  // menu
  .ui.menu .orange.active.item {
    color: #fff !important;
    background-color: var(--color-primary) !important;
  }

  .rowHighlightMax {
    background: var(--color-primary) !important;
    color: white !important;
  }

  .rowHighlightOther {
    background: var(--color-primary-gradient) !important;
    color: white !important;
  }

  .rowHighlightMax .TableCellLink,
  .rowHighlightOther .TableCellLink {
    color: white !important;
    cursor: pointer !important;
  }

  .ui.selectable.table tbody .rowHighlightMax:hover {
    background: rgba(255, 68, 0, 0.9) !important;
    color: white !important;
  }

  .ui.selectable.table tbody .rowHighlightOther:hover {
    background: rgba(255, 126, 5, 0.9) !important;
    color: white !important;
  }

  .ui.bottom.attached.segment.active.tab {
    border-bottom: none;
  }

  .test {
    color: white !important;
  }

  .ui.selectable.table tbody .highlightedRow:hover {
    background: #f14000 !important;
    color: white !important;
  }

  .VerticalSidebarPlot {
    width: 100% !important;
    background: white;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }

  .VerticalSidebarVolcanoView {
    width: 100% !important;
    background: white;
    z-index: 3;
    padding-right: 25px !important;
  }

  .ui.visible[class*='very wide'].left.sidebar ~ .pusher {
    transform: translate3d(105%, 0, 0) !important;
  }

  .NoSelect {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* Konqueror HTML */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

  .FloatRight {
    float: right !important;
    cursor: pointer !important;
  }

  .FloatLeft {
    float: left !important;
  }

  .ShowInlineBlock {
    display: inline-block !important;
  }

  .Hide {
    display: none !important;
  }

  .ShowBlock {
    display: block !important;
  }

  .ui.search.dropdown > .text {
    display: block !important;
  }

  .AbsoluteExportDifferential {
    position: absolute;
    z-index: 1;
    margin-top: 13px;
    right: 9px !important;
  }

  .AbsoluteExport {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    right: 10px !important;
  }

  #AppVersion {
    top: 20px;
    right: 20px;
    position: absolute;
  }
}

.SortableHelper {
  z-index: 3;
  list-style: none;
}