// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.AppContainer {
  height: 100vh;

  .TopBar {
    background-color: #2E2E2E !important;
    padding: 10px 10px 0px 10px !important;

    .LogoSpan {
      padding: 0px -10px 0px 0px !important;
    }

    .Title {
      font-size: 18px;
      margin: 0px !important;
      padding: 0px 48px 15px 0px !important;
      
      .ThinItalic {
        font-weight: 100 !important;
        font-style: italic;
      }

    }

    .Tab {
      font-size: 16px;
      height: 50px;
    }
      
    .active {
      border-color: #FF4400 !important;
    }
  }

  .SearchCriteriaContainer {
    background-color: lightgray;
    height: 100vh;

    .SearchCriteria {
      padding: 0px 20px !important;
    }
  }

  .CondensedBoldText {
    font-weight: bold;
    font-stretch: condensed !important;
  }

  .MainContainer {
    padding: 0px !important;
  }

  .ContentContainer {
    padding: 20px;
  }

  .BreadcrumbContainer {
    margin: 0px 10px 20px 10px !important;

    .active {
      color: #FF4400 !important;
    }
  }

  .deviceMargin {
    margin: 20px 15px 30px 15px !important;

    // 992px window width and more
    @include xl {
      margin: 0px !important;
    }
  }

  .PlotContainer, .ChartsContainer {
    margin-top: 5px !important;
    min-height: 75vh !important;
  
    .PlotSVG {
      height: 75vh !important;
    }
    
  }

  .phophositeIcon {
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }

  .phophositeIcon:hover {
      transform: scale(1.2);
  }

}
