// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.AppContainer {
  height: 100vh;

  .TopBar {
    background-color: #2E2E2E !important;

    .MenuContainer {
      margin-bottom: 0px !important;
      
      .active {
        border-color: #FF4400 !important;
      }

    }

    .LogoElement {
      padding: 0px 0px 17px 10px !important;
    }

    .Title {
      font-size: 18px;
      margin: 0px !important;
      padding-left: 10px !important;
      padding-top: 15px !important;
      padding-right: 70px !important;
      
      .TitleTextStyle {
        font-weight: 100 !important;
        font-style: italic;
        color: lightgray !important;
      }

    }
  }

  .EnrichmentContainer {
    padding-top: 0px !important;
  }

  .SidebarContainer {
    background-color: lightgray;
    height: 100vh;

    .SearchCriteriaContainer {
      padding: 0px 20px !important;
    }
  }

  .FilterText {
    font-weight: bold;
    font-stretch: condensed !important;
    margin-top: 0px !important;
    padding-top: 10px !important;
  }

  .PepplotContainer {
    padding: 0px !important;
  }

  .EnrichmentContainer {
    padding: 0px !important;
    padding-top: 1px !important;
  }

  .ContentContainer {
    padding: 20px;
  }

  .BreadcrumbContainer {
    margin: 0px 10px 20px 10px !important;

    .active {
      color: #FF4400 !important;
    }
  }

  .deviceMargin {
    margin: 20px 15px 30px 15px !important;

    // 992px window width and more
    @include xl {
      margin: 0px !important;
    }
  }

  .PlotContainer, .ChartsContainer {
    margin-top: 5px !important;
    min-height: 75vh !important;
  
    .PlotSVG {
      height: 75vh !important;
    }
  }

  .phophositeIcon {
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }

  .phophositeIcon:hover {
      transform: scale(1.2);
  }

  .customOrange {
    color: #FF4400 !important;
    border: 1px solid #FF4400 !important;
  }
}