.ButtonActions {
  display: inline !important;

  // .MoreButtonGroup {
  //   margin-left: 5px !important;
  // }

  .ExportButtonGroupLabel {
    background-color: #ff4400 !important;
    color: #fff !important;
  }

  // .ui.basic.black.button,
  // .ui.basic.black.buttons .button {
  //   box-shadow: none !important;
  // }

  .ExportButton {
    cursor: pointer !important;
  }
}
