.EnrichmentContainer {
  padding: 0px !important;
  padding-top: 1px !important;
}

.EnrichmentContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:vertical {
  box-shadow: 0px 2px 0px #ff4400 !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:horizontal {
  box-shadow: 2px 0px 0px #ff4400 !important;
}

.ui.negative.button {
  background-color: grey !important;
}

.UpsetSvgSpan {
  padding-left: 35px !important;
}

.VerticalSidebarPlot {
  width: 100% !important;
  padding-top: 10px !important;
  padding-left: 0px !important;
  padding-right: 25px !important;
}

.ui.visible[class*="very wide"].left.sidebar~.pusher {
  transform: translate3d(105%,0,0) !important;
}