.EnrichmentContainer {
  padding: 0px !important;
  padding-top: 1px !important;
}

.EnrichmentContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:vertical {
  // border-radius: 0 !important;
  /* background: #ff4400 !important; */
  // background: #0f0000 !important;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6) !important; */
  box-shadow: 0px 2px 0px #ff4400 !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:horizontal {
  // border-radius: 0 !important;
  /* background: #ff4400 !important; */
  // background: #0f0000 !important;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6) !important; */
  box-shadow: 2px 0px 0px #ff4400 !important;
}

.UpsetToggleContainer, .ToggleNetworkGraphContainer {
  padding-top: 30px;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 20px;
}

.ToggleNetworkGraphText {
  font-weight: bold;
  font-stretch: condensed !important;
  margin-top: 0px !important;
  padding-top: 10px !important;
}

.ToggleNetworkGraph {
  float: right;
  margin-right: 20px;
}

// .ui.positive.button {
//   background-color: #ff4400 !important;
// }

.ui.negative.button {
  background-color: grey !important;
}

.ToggleNetworkGraphContainer .ui.positive.button {
  // background-color: #00FF40 !important;
  background-color: #1678c2 !important;
}

.UpsetSvgSpan {
  padding-top: 25px !important;
  height: 100% !important;
  width: 100% !important;
}

.UpsetIconImg {
  height: 42px !important;
}

.VerticalSidebarPlot {
  width: 80% !important;
}

// .ui[class*="very wide"].left.sidebar {
//   width: 100% !important;
// }

.ui.visible[class*="very wide"].left.sidebar~.pusher {
  transform: translate3d(80%,0,0) !important;
}

// .ui .left .sidebar {
//   width: 1000px !important;
// }

// .ui.left.sidebar {
//   width: 1000px !important;
// }

.PlotPulltab {
  padding: 10px !important;
  border-radius: 0% 10% 10% 0% !important;
  background-color: #21BA45 !important;
  color: white !important;
  writing-mode: vertical-rl !important;
  text-orientation: upright !important;
  font-weight: bold !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 50% !important;
}

.PlotPulltab:hover {
  transform: scale(1.2) !important;
}