.svgContainer {
  height: 100% !important;
  width: 100% !important;
}

.svgDiv {
  height: 100% !important;
  width: 100% !important;
}

.svgSpan {
  height: 100% !important;
  width: 100% !important;
}

.PlotSVG {
  height: 75vh !important;
}