@media (min-width: 1px) and (max-width: 374px) {
  .SidebarContainer {
    height: 45vh;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .SidebarContainer {
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .SidebarContainer {
    height: 35vh;
  }
}

@media (min-width: 1200px) {
  .SidebarContainer {
    height: 100vh;
  }
}

/* .SidebarContainer ::-webkit-scrollbar-thumb {
  background: #FF4400 !important;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.6) !important;
} */

.SidebarContainer {
    background-color: #e0e1e2;

    .SearchCriteriaContainer {
      padding: 0px 20px !important;
    }  
    
    .FilterStudyContainer {
      padding-top: 20px;
      padding-bottom: 15px !important;
      margin-bottom: 15px !important;
    }
    
    .FilterText {
      font-weight: bold;
      font-stretch: condensed !important;
      margin-top: 0px !important;
      padding-top: 10px !important;
    }

    .StudyHTML {
      float: right !important;
    }

    .StudyHTMLIcon {
      cursor: pointer;
      // background-color: #FF4400 !important;
      // background-color: #2E2E2E !important;
    }

    i.inverted.circular.icon {
      background-color: #FF4400 !important;
    }
  }