.SidebarContainer {
    background-color: #F6F6F6;
    overflow: auto !important;
    min-height: 100vh !important;
    height: auto !important;

    .SearchCriteriaContainer {
      padding: 20px 20px !important;
    }  
    
    .FilterStudyContainer {
      padding-top: 15px;
      padding-bottom: 15px !important;
      margin-bottom: 15px !important;
    }
    
    .FloatRight {
      float: right !important;
      cursor: pointer !important;
    }

    .FloatLeft {
      float: left !important;
    }

    .StudyHtmlIconDiv {
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 16%;
    }

    .StudyHtmlIcon {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.94) !important;
    }

    i.inverted.circular.icon {
      background-color: #1b1c1d !important;
      // background-color: #FF4400 !important;
    }
    
    .UpsetContainer {
      padding: 0px 20px 0px 20px !important;
    }

    .UpsetFiltersDiv {
      padding: 10px 0px !important;
      margin: 0px;
      min-height: 250px !important;
    }

    .SliderDiv {
      .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
        background-color: #21BA45 !important;
      }
    }

    .PlotRadio {
      float: right;
    }

    .ViewPlotRadio label {
      color: #21BA45 !important;
    }

  }