@media (min-width: 1px) and (max-width: 374px) {
  .SidebarContainer {
    height: 100vh;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .SidebarContainer {
    height: 90vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .SidebarContainer {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  .SidebarContainer {
    height: 100vh;
    margin-right: -35px !important;
  }
}

/* .SidebarContainer ::-webkit-scrollbar-thumb {
  background: #FF4400 !important;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.6) !important;
} */

.SidebarContainer {
    background-color: #e0e1e2;

    .SearchCriteriaContainer {
      padding: 0px 20px !important;
    }  
    
    .FilterStudyContainer {
      padding-top: 15px;
      padding-bottom: 15px !important;
      margin-bottom: 15px !important;
    }
    
    .FilterText {
      font-weight: bold;
      font-stretch: condensed !important;
      margin-top: 0px !important;
      padding-top: 10px !important;
    }

    .FloatRight {
      float: right !important;
      cursor: pointer !important;
    }

    .StudyHTMLIcon {
      cursor: pointer;
      // background-color: #FF4400 !important;
      // background-color: #2E2E2E !important;
    }

    i.inverted.circular.icon {
      background-color: #FF4400 !important;
    }

    .UpsetToggleContainer .ui.positive.button {
      // background-color: #00FF40 !important;
      background-color: #21BA45 !important;
    }

    .UpsetToggleText {
      font-weight: bold;
      font-stretch: condensed !important;
      margin-top: 0px !important;
      padding-top: 10px !important;
    }

    .UpsetToggle {
      float: right;
      margin-right: 20px;
    }
 
    // .UpsetIconImg {
    //   height: 35px !important;
    //   margin-right: 10px !important;
    // }
    
    .UpsetFiltersContainer {
      padding-top: 30px;
      padding-bottom: 15px !important;
      margin-bottom: 15px !important;
      margin-left: 20px;    
    }

    // .UpsetFilters {
    //   margin-left: 20px;
    // }

    // .PlotPulltab {
    //   padding: 10px !important;
    //   border-radius: 25px !important;
    //   background-color: #000 !important;
    //   color: white !important;
    //   font-weight: bold !important;
    //   height: 50px !important;
    //   width: 50px !important;
    //   margin-right: -38px !important;
    // }

    .PlotPulltab:hover {
      transform: scale(1.2) !important;
    }

    .PPActive {
      background-color: #21BA45 !important;
      color: black !important;
      transform: scale(1.2) !important;
    }   
  }