/* The loader */
.searching-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  width: 200px;
  height: 200px;

  margin-top: -100px;
  margin-left: -100px;

  perspective: 600px;
  transform-style: perserve-3d;
}

/* The searching-dots */
.searching-dots {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  perspective: 600px;
  transform-style: perserve-3d;

  animation: dots 6000ms cubic-bezier(0, 0, 1, 1) infinite;
}

@keyframes dots {
  0%,
  15% {
    transform: rotateZ(0deg);
  }
  25%,
  40% {
    transform: rotateZ(90deg);
  }
  50%,
  65% {
    transform: rotateZ(180deg);
  }
  75%,
  90% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* The dot */
.searching-dot {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 20px;

  margin-top: -10px;
  margin-left: -10px;

  border-radius: 999px;

  background-color: #ff4400;

  transform-style: perserve-3d;

  animation: searching-dot 1500ms cubic-bezier(0.7, 0.05, 0.39, 0.88) infinite;
}

.searching-dot:nth-child(1) {
  transform: translateY(-40px);
}

.searching-dot:nth-child(2) {
  transform: translateX(-20px) translateY(-20px);
  animation-name: searching-dot2;
}

.searching-dot:nth-child(3) {
  transform: translateX(20px) translateY(-20px);
  animation-name: searching-dot3;
}

.searching-dot:nth-child(4) {
  transform: translateX(-40px) translateY(0px);
  animation-name: searching-dot4;
}

.searching-dot:nth-child(5) {
  transform: translateX(0px) translateY(0px);
  animation-name: searching-dot5;
}

.searching-dot:nth-child(6) {
  transform: translateX(40px) translateY(0px);
  animation-name: searching-dot6;
}

.searching-dot:nth-child(7) {
  transform: translateX(-20px) translateY(20px);
  animation-name: searching-dot7;
}

.searching-dot:nth-child(8) {
  transform: translateX(20px) translateY(20px);
  animation-name: searching-dot8;
}

.searching-dot:nth-child(9) {
  transform: translateX(0px) translateY(40px);
  animation-name: searching-dot9;
}

@keyframes searching-dot {
  0% {
    transform: translateX(0) translateY(-40px);
  }
  10%,
  20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%,
  50% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot2 {
  0% {
    transform: translateX(-20px) translateY(-20px);
  }
  10%,
  55% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot4 {
  0% {
    transform: translateX(-40px) translateY(0px);
  }
  10%,
  30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%,
  65% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot6 {
  0%,
  10% {
    transform: translateX(40px) translateY(0px);
  }
  20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%,
  70% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot8 {
  0%,
  10% {
    transform: translateX(20px) translateY(20px);
  }
  20%,
  80% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot9 {
  0%,
  10% {
    transform: translateX(0px) translateY(40px);
  }
  20%,
  30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%,
  85% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot3 {
  0%,
  20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%,
  60% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes searching-dot7 {
  0%,
  30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%,
  75% {
    transform: translateX(0px) translateY(0px);
  }
}
