// .ThresholdOperatorSelect {
//     min-width: 1rem !important;
// }

.ui.selection.dropdown {
    min-width: 4rem !important;
}

.UpSetDropdownContainer {
    margin: 20px 0px 0px 0px !important;
}

.UpSetQueryContainer {
    min-height: 150px !important;
}