.barcode-line {
  stroke: #838383;
  stroke-width: 1.5px;
  opacity: 0.5;
}

.barcode-line.HoveredLine {
  stroke: var(--color-tertiary);
  stroke-width: 2.5px;
  opacity: 1;
}

.barcode-line.selected {
  stroke: var(--color-secondary);
  stroke-width: 2.5px;
  opacity: 1;
}

.barcode-line.MaxLine {
  stroke: var(--color-primary);
  stroke-width: 3.5px;
  opacity: 1;
}

.barcode-line.HighlightedLine {
  stroke: var(--color-primary-gradient);
  stroke-width: 3px;
  opacity: 1;
}

.barcode {
  cursor: crosshair !important;
}

// .BarcodeTooltipText {
//  font-weight: 600 !important;
// }

.BarcodeLabel {
  font-weight: 600 !important;
  font-size: 15px !important;
}
