.EnrichmentContainer {
  padding: 0px !important;
  padding-top: 1px !important;
  height: auto !important;
}

.EnrichmentContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:vertical {
  box-shadow: 0px 2px 0px var(--color-primary) !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:horizontal {
  box-shadow: 2px 0px 0px var(--color-primary) !important;
}

.ui.negative.button {
  background-color: grey !important;
}

.MultisetSvgSpan {
  padding-left: 35px !important;
}

// .ui.visible[class*='very wide'].left.sidebar ~ .pusher {
//   transform: translate3d(105%, 0, 0) !important;
// }
