.EnrichmentContainer {
  padding: 0px !important;
  padding-top: 1px !important;
  height: auto !important;
}

.EnrichmentContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:vertical {
  box-shadow: 0px 2px 0px var(--color-primary) !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:horizontal {
  box-shadow: 2px 0px 0px var(--color-primary) !important;
}

.ui.negative.button {
  background-color: grey !important;
}

.MultisetSvgSpan {
  padding-left: 35px !important;
}

.NetworkGraphWrapper {
  padding-top: 26px !important;
  width: 100%;

  // .NetworkGraphFiltersContainer {
  //   min-height: 50px;
  // }

  // .NetworkGraphFilters .ui.toggle.checkbox input:checked ~ .box:before,
  // .ui.toggle.checkbox input:checked ~ label:before {
  //   background-color: var(--color-primary) !important;
  // }

  .NetworkChartWrapper {
    margin: 25px 20px 20px 15px !important;
  }

  .NetworkLabelsVisible {
    display: block !important;
  }
  .NetworkLabelsHidden {
    display: none !important;
  }
}

.TableVsNetworkToggle {
  position: absolute !important;
  padding-left: 15px !important;
  cursor: pointer !important;
  z-index: 11111 !important;

  .TableVsNetworkMenu {
    border: none !important;
    box-shadow: none !important;
  }

  .TableVsNetworkButtons {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.54) !important;
    margin-right: 15px !important;
    border-radius: 0px !important;
  }
}

.NetworkGraphButtons {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.54) !important;
  margin-right: 15px !important;
}
