.EnrichmentContainer {
  padding: 0px !important;
  padding-top: 1px !important;
  height: auto !important;
}

.EnrichmentContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:vertical {
  box-shadow: 0px 2px 0px var(--color-primary) !important;
}

.EnrichmentContainer ::-webkit-scrollbar-thumb:horizontal {
  box-shadow: 2px 0px 0px var(--color-primary) !important;
}

.EnrichmentContentPane {
  border: none !important;
}

// #EnrichmentContentPaneTable {
//   z-index: 0 !important;
// }

.ui.negative.button {
  background-color: grey !important;
}

.NetworkGraphFiltersRow {
  margin-top: 15px !important;
}

.NetworkGraphWrapper {
  padding-top: 26px !important;
  width: 100%;

  // .NetworkGraphFiltersContainer {
  //   min-height: 50px;
  // }

  // .NetworkGraphFilters .ui.toggle.checkbox input:checked ~ .box:before,
  // .ui.toggle.checkbox input:checked ~ label:before {
  //   background-color: var(--color-primary) !important;
  // }

  .NetworkChartWrapper {
    margin: 25px 20px 20px 15px !important;
  }

  .NetworkLabelsVisible {
    display: block !important;
  }
  .NetworkLabelsHidden {
    display: none !important;
  }
}

.TableAndNetworkMenuContainer {
  position: absolute !important;
  margin-top: 15px !important;
  padding-left: 15px !important;
  cursor: pointer !important;
  z-index: 1 !important;
  height: 47px !important;
  width: 100px !important;
  border: none !important;

  // .TableAndNetworkMenu {
  //   // border: none !important;
  //   // box-shadow: none !important;
  // }

  .TableAndNetworkButtons {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.54) !important;
    border-radius: 0px !important;
    height: 45px !important;
    width: 45px !important;
  }

  .TableButton {
    margin: 0px 15px 0px 0px !important;
    padding: 0px !important;
  }

  .NetworkButton {
    margin: 0px !important;
    padding: 0px !important;
  }

  #TableButton {
    height: 45px !important;
    width: 45px !important;
  }

  #NetworkButton {
    height: 45px !important;
    width: 45px !important;
  }
}

@media (max-width: 1199px) {
  .TableAndNetworkMenuContainer {
    position: block !important;
    display: relative !important;
  }

  .NetworkGraphFilters {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.NetworkGraphUnavailableMessage {
  width: 33% !important;
  margin: 100px auto !important;
}

@media (max-width: 1199px) {
  .NetworkGraphUnavailableMessage {
    width: 75% !important;
  }
}

.checkboxMultiset input {
  cursor: pointer !important;
}

.DisabledCursor {
  pointer-events: auto !important;
  cursor: not-allowed !important;
  background: red;
}

/**
 * Styling for the Differential Enrichment Table Wrapper component
 *
 * This SCSS defines the styling for a table with fixed (sticky) first and second columns.
 */
.EnrichmentTableWrapper {
  .ui.celled.table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    thead tr th:nth-child(1) {
      position: sticky !important;
      left: 0 !important;
      background-color: #ffffff !important;
      -webkit-user-drag: none !important;
      -moz-user-drag: none !important;
      -ms-user-drag: none !important;
      user-select: none !important;
      cursor: default !important;
    }

    thead tr th:nth-child(2) {
      position: sticky !important;
      left: var(--frozen-first-column-width, 350px) !important;
      background-color: #ffffff !important;
      -webkit-user-drag: none !important;
      -moz-user-drag: none !important;
      -ms-user-drag: none !important;
      user-select: none !important;
      cursor: default !important;
      z-index: 40 !important;
    }
    // Body cells (data rows)
    tbody tr td:nth-child(1) {
      position: sticky !important;
      left: 0 !important;
      z-index: 10 !important;
      background-color: #ffffff !important;
    }

    tbody tr td:nth-child(2) {
      position: sticky !important;
      left: var(--frozen-first-column-width, 350px) !important;
      z-index: 10 !important;
      background-color: #ffffff !important;
    }
  }
}
