.NetworkGraphContainer {
  padding-top: 0px !important;
  padding: 0px !important;
  // padding-right: 25px !important;
  min-height: 70vh !important;

  text {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-size: 10px;
  }
}

.NetworkGraphFiltersRow {
  margin-top: 11px !important;
  padding-bottom: 0px !important;
}

.ui.positive.button {
  background-color: var(--color-primary) !important;
}

// .network-chart-wrapper {
//   border-width: thin;
//   border-radius: 3px;
//   display: -webkit-flex; /* Safari */
//   display: flex; /* Standard syntax */
// }

// .ui.search {
//   position: initial;
// }
.ui.search > .results {
  // min-height: 100px;
  max-height: 75vh !important;
  overflow-y: scroll !important;
  // overflow-x: inherit;
  // direction: rtl !important;

  // .ui.circular.label {
  //   margin-right: 10px !important;
  // }
}

#NetworkSearchInput {
  max-width: 200px;
  border-radius: 0.28571429rem !important;
}

@media (max-width: 1199px) {
  #NetworkSearchInputColumn div {
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #NetworkSearchInput {
    max-width: 200px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  #NetworkSearchInput {
    max-width: 110px !important;
  }
}
@media (min-width: 1500px) and (max-width: 1599px) {
  #NetworkSearchInput {
    max-width: 150px !important;
  }
}
@media (min-width: 1600px) and (max-width: 1900px) {
  #NetworkSearchInput {
    max-width: 160px !important;
  }
}

.semantic_ui_range_inner {
  margin-left: 0px !important;
}

.semantic_ui_range_inner div:nth-of-type(2) {
  background-color: var(--color-primary) !important;
}

.NetworkSortIcon {
  background: white !important;
  color: grey !important;
  opacity: 1 !important;
  border: 1px solid lightgrey;
}
// .controlBox {
//   background-color: #f7f7ee;
//   /* position: absolute; */
//   margin: 5px 5px 5px 5px;
//   width: 1%;
//   border-style: solid;
//   border-color: black;
//   border-width: thin;
//   border-radius: 3px;
//   -moz-box-shadow-bottom: 4px 4px 4px;
//   -webkit-box-shadow-bottom: 4px 4px 4px grey;
//   box-shadow: 4px 4px 4px grey;
//   -webkit-flex: 1; /* Safari */
//   -ms-flex: 1; /* IE 10 */
//   flex: 0.15; /* Standard syntax */
// }

// #chart-network {
//   background-color: #f7f7ee;
//   margin: 5px 5px 5px 5px;
//   width: 15%;
//   border-style: solid;
//   border-color: black;
//   border-width: thin;
//   border-radius: 3px;
//   -moz-box-shadow-bottom: 4px 4px 4px grey;
//   -webkit-box-shadow-bottom: 4px 4px 4px grey;
//   box-shadow: 4px 4px 4px grey;
//   flex: 0.85;
// }

.networkSearch {
  margin: 5px 5px 5px 5px;
  border-radius: 3px;
  outline-width: 1px;
  outline-color: 'blue';
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  width: 75%;
}

.RadioLabelsDisplay {
  margin-left: 40px;
  // margin-left: 20px;
  font-size: 1rem !important;

  //   .ui.toggle.checkbox input:checked ~ .box:before,
  //   .ui.toggle.checkbox input:checked ~ label:before {
  //     background-color: var(--color-primary) !important;
  //   }
}

@media (max-width: 1600px) {
  .RadioLabelsDisplay {
    font-size: 0.9rem !important;
  }
}

.NetworkSliderDiv {
  margin: 0 auto !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  // max-width: 245px;
  max-width: 156px;
}

// @media (min-width: 1600px) and (max-width: 2599px) {
//   .NetworkSliderDiv {
//     max-width: 220px !important;
//   }
// }

// @media (min-width: 1200px) and (max-width: 1599px) {
//   .NetworkSliderDiv {
//     max-width: 130px !important;
//   }
// }

// @media (min-width: 768px) and (max-width: 1199px) {
//   .NetworkSliderDiv {
//     max-width: 135px !important;
//   }
// }

@media (max-width: 1599px) {
  .NetworkSliderDiv {
    max-width: 135px !important;
  }
}

#NetworkSliderDivEdgeType {
  margin-top: 12px !important;
  // margin-bottom: 5px !important;
  // max-width: 245px;
  // .thumb:active,
  // .thumb:focus {
  //   outline: none !important;
  // }
}

.thumb:active,
.thumb:focus {
  outline: none !important;
}

.InlineFlex {
  display: inline-flex;
  flex-direction: row;
  // font-size: 0;
  // vertical-align: baseline;
  // margin: 0 0.25em 0 0;
  margin-bottom: 10px;
}

.EdgeTypeContainer {
  margin-bottom: -10px !important;
}

// #EdgeTypeLabelColumn {
//   max-width: 50px !important;
// }

#EdgeTextContainer {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

#EdgeTypeRow div:nth-of-type(1) {
  max-width: 60px !important;
}

#EdgeTypeLabel {
  line-height: 1.1 !important;
}

.NetworkSliderInput {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500;
  height: 40px !important;
  width: 70px !important;
  padding-left: 10px !important;
}

@media (min-width: 1600px) {
  .NetworkSliderInput {
    font-size: 15px !important;
    height: 50px !important;
  }
}

.NumericExponentialInput {
  width: 80px !important;
  font-size: 14px !important;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500;
  height: 40px !important;
  width: 70px !important;
  padding-left: 10px !important;
}

@media (min-width: 1600px) {
  .NumericExponentialInput {
    font-size: 15px !important;
    height: 50px !important;
  }
}

.NetworkSlider {
  width: 100% !important;
}

.ValueNowNode {
  color: var(--color-dark) !important;
  margin-right: -95px;
}

.ValueNowEdgeTypeOverlapText,
.ValueNowEdgeTypeOverlapNumber {
  color: var(--color-dark) !important;
  margin-left: 35px;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.ValueNowEdgeTypeJaccardText,
.ValueNowEdgeTypeJaccardNumber {
  color: var(--color-dark) !important;
  // color: var(--color-white) !important;
  margin-left: -45px;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.EdgeTypeText {
  font-size: 13px !important;
  // margin-right: 5px;
}

// #JaccardText {
//   margin-left: 5px;
// }

// #OverlapText {
//   margin-right: 5px;
// }

#JaccardPercent {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.DisplayOnLarge {
  display: none !important;
}

@media (min-width: 1599px) {
  .DisplayOnLarge {
    display: inline !important;
  }
}

.DisplayOnSmaller {
  display: inline !important;
}

@media (min-width: 1920px) {
  .DisplayOnSmaller {
    display: none !important;
  }
}

.NetworkInputLabel {
  margin-right: -1px !important;
  width: max-content;
  border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  display: inline-block !important;
  line-height: initial !important;
}

// @media (max-width: 768px) {
//   .LegendColumn {
//     position: absolute !important;
//     right: 0 !important;
//     top: 0 !important;
//     padding: 0px !important;
//   }
// }

// [draggable='true'] {
//   cursor: move;
// }

#NetworkGraphSortByDiv {
  // padding-top: 10px;
  color: var(--color-white) !important;
  // color: rgba(0, 0, 0, 0.6) !important;

  // #NetworkGraphSortBySegment {
  //   width: 100% !important;
  //   height: auto !important;
  //   max-width: 145px !important;
  //   padding: 0px;
  //   margin: 0 auto;

  #NetworkSortByLabel {
    // background-color: var(--color-primary) !important;
    background-color: var(--color-dark) !important;
    color: white !important;
    // width: 90px !important;
    // margin-left: -90px !important;
    text-align: center !important;
  }

  // @media (min-width: 1200px) and (max-width: 1599px) {
  //   #NetworkSortByLabel {
  //     margin-left: -100px !important;
  //   }
  // }
  // @media (min-width: 1600) and (max-width: 2599px) {
  //   #NetworkSortByLabel {
  //     margin-left: -110px !important;
  //   }
  // }
  // @media (min-width: 2600px) {
  //   #NetworkSortByLabel {
  //     margin-left: -115px !important;
  //   }
  // }

  // .ui.secondary.menu
  // #NetworkGraphSortByMenu {
  //   border: 1px solid rgba(34, 36, 38, 0.15);
  //   border-radius: 0px 0.28571429rem 0.28571429rem 0px;
  //   margin-right: 1.75rem;
  // }
  // #NetworkGraphSortByMenu {
  //   .item:before {
  //     width: 0px;
  //   }
  //   #NetworkGraphSortByMenu:last-child {
  //     display: inline-flex;
  //     width: 0px;
  //     box-shadow: none;
  //     border: 1px solid rgba(34, 36, 38, 0.15);
  //   }
  // }

  .ui.menu .item:before {
    width: 0px;
  }
  .ui.menu:last-child {
    display: inline-flex;
    /* width: 0px; */
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
  }

  #NetworkGraphSortByText {
    color: var(--color-light) !important;
  }
  ul {
    padding: 0px 10px 0px 10px !important;
  }
  ul li {
    list-style: none;
    margin-bottom: 8px;
    cursor: grab;
  }

  .NetworkGraphSortableListLabel {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  #NetworkGraphSortableList {
    list-style: none;
    margin-bottom: 5px;
    cursor: grab;
  }
}

.LoaderActivePlotsNetwork {
  height: 100vh !important;
}

#LegendIconButton {
  margin-bottom: 5px;
  background-color: var(--color-light) !important;
  color: var(--color-dark) !important;
}

#LegendColumn,
#TotalsColumn {
  margin-top: -10px;
}

@media (min-width: 1200px) and (max-width: 1280px) {
  #LegendColumn,
  #TotalsColumn {
    margin-top: 5px;
  }
}

.NodeEdgeTotals {
  margin-bottom: 5px;
  float: right !important;
}

#LegendIconButton {
  margin-bottom: 5px;
}

.node-label {
  pointer-events: none;
}

.stop-left {
  stop-color: red;
}

.stop-middle {
  stop-color: white;
}

.stop-right {
  stop-color: blue;
}

#LegendPopup {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  border-radius: 5px;
  pointer-events: none;
  z-index: 3;
  // border: 1px solid var(--color-dark);
  // border-bottom: 2px solid var(--color-dark) !important;
}

.filled {
  fill: url(#mainGradient);
}
