.NetworkGraphContainer {
  padding-top: 0px !important;
  padding: 0px !important;
  // padding-right: 25px !important;
  min-height: 70vh !important;

  text {
    font-family: sans-serif;
    font-size: 10px;
  }
}

.NetworkGraphFiltersRow {
  margin-top: 11px !important;
  padding-bottom: 0px !important;
}

.ui.positive.button {
  background-color: var(--color-primary) !important;
}

// .network-chart-wrapper {
//   border-width: thin;
//   border-radius: 3px;
//   display: -webkit-flex; /* Safari */
//   display: flex; /* Standard syntax */
// }

// .ui.search {
//   position: initial;
// }
.ui.search > .results {
  max-height: 75vh !important;
  overflow-y: scroll !important;
  // overflow-x: inherit;
  // direction: rtl !important;

  // .ui.circular.label {
  //   margin-right: 10px !important;
  // }
}

#NetworkSearchInput {
  border-radius: 0.28571429rem !important;
}

@media (max-width: 1600px) {
  .semantic_ui_range_inner {
    margin-left: 0px !important;
  }
}

.semantic_ui_range_inner div:nth-of-type(2) {
  background-color: var(--color-primary) !important;
}

.NetworkSortIcon {
  background: white !important;
  color: grey !important;
  opacity: 1 !important;
  border: 1px solid lightgrey;
}
// .controlBox {
//   background-color: #f7f7ee;
//   /* position: absolute; */
//   margin: 5px 5px 5px 5px;
//   width: 1%;
//   border-style: solid;
//   border-color: black;
//   border-width: thin;
//   border-radius: 3px;
//   -moz-box-shadow-bottom: 4px 4px 4px;
//   -webkit-box-shadow-bottom: 4px 4px 4px grey;
//   box-shadow: 4px 4px 4px grey;
//   -webkit-flex: 1; /* Safari */
//   -ms-flex: 1; /* IE 10 */
//   flex: 0.15; /* Standard syntax */
// }

// #chart-network {
//   background-color: #f7f7ee;
//   margin: 5px 5px 5px 5px;
//   width: 15%;
//   border-style: solid;
//   border-color: black;
//   border-width: thin;
//   border-radius: 3px;
//   -moz-box-shadow-bottom: 4px 4px 4px grey;
//   -webkit-box-shadow-bottom: 4px 4px 4px grey;
//   box-shadow: 4px 4px 4px grey;
//   flex: 0.85;
// }

.networkSearch {
  margin: 5px 5px 5px 5px;
  border-radius: 3px;
  outline-width: 1px;
  outline-color: 'blue';
  font-family: 'Roboto', sans-serif;
  width: 75%;
}

.RadioLabelsDisplay {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1rem !important;
}

@media (max-width: 1600px) {
  .RadioLabelsDisplay {
    font-size: 0.9rem !important;
  }
}

.NetworkSliderInput {
  margin: 0px 10px 10px 25px !important;
}

@media (max-width: 1600px) {
  .NetworkSliderInput {
    margin: 0px 10px 10px 0px !important;
  }
}

// @media (max-width: 768px) {
//   .LegendColumn {
//     position: absolute !important;
//     right: 0 !important;
//     top: 0 !important;
//     padding: 0px !important;
//   }
// }

// [draggable='true'] {
//   cursor: move;
// }

#NetworkGraphSortBySegment {
  width: 110px !important;
  height: 105px !important;
  padding: 0px;
}

#NetworkSortByLabel {
  background-color: var(--color-primary) !important;
  color: white !important;
  width: 70px !important;
  margin-left: -90px !important;
}

#NetworkGraphSortByDiv {
  padding-top: 10px;
  // color: var(--color-primary) !important;
  color: rgba(0, 0, 0, 0.6) !important;

  #NetworkGraphSortByText {
    color: grey;
  }
  // ul {
  //   padding: 2px 0px 0px 10px !important;
  // }
  // ul li {
  //   list-style: none;
  //   margin-bottom: 5px;
  //   cursor: grab;
  // }
  // #NetworkGraphSortableLink {
  //   list-style: none;
  //   margin-bottom: 5px;
  //   cursor: grab;
  // }

  // .NoSelect {
  //   -webkit-touch-callout: none; /* iOS Safari */
  //   -webkit-user-select: none; /* Safari */
  //   -khtml-user-select: none; /* Konqueror HTML */
  //   -moz-user-select: none; /* Old versions of Firefox */
  //   -ms-user-select: none; /* Internet Explorer/Edge */
  //   user-select: none; /* Non-prefixed version, currently
  //                                 supported by Chrome, Opera and Firefox */
  // }
}

.LoaderActivePlotsNetwork {
  height: 100vh !important;
}

.Show {
  display: inline-block;
}

.Hide {
  display: none !important;
}

#LegendIconButton {
  margin-bottom: 5px;
}

#NodeEdgeTotals {
  float: right !important;
}

// #LegendColumn,
// #TotalsColumn {
//   margin-top: -5px !important;
// }
