.FilteredPepplotTableDiv {
    direction: ltr !important;
    // .ui.selectable.table tbody tr:first-child, .ui.selectable.table tbody tr:first-child:hover {
    //     background: #f14000 !important;
    //     color: white !important;
    // }
    .ui.mini.image {
        width: 25px !important;
    }

    .QHGrid table th:first-child {
        padding-top: 7px !important;
        padding-bottom: 25px !important;
    }
    
    .TableValue {
        cursor: auto !important;
    }

    .ExcelLogo {
        z-index: 11112 !important;
    }
}

