.FilteredDifferentialTableDiv {
  direction: ltr !important;
  // .ui.selectable.table tbody tr:first-child, .ui.selectable.table tbody tr:first-child:hover {
  //     background: #f14000 !important;
  //     color: white !important;
  // }
  .ui.mini.image {
    width: 35px !important;
    //     height: 35px !important;
  }

  .QHGrid table th:first-child {
    padding-top: 7px !important;
    padding-bottom: 15px !important;
  }

  .TableValue {
    cursor: auto !important;
  }

  .rowHighlightMax {
    background: var(--color-primary) !important;
    color: white !important;
  }

  .rowHighlightOther {
    background: var(--color-primary-gradient) !important;
    color: white !important;
  }

  .rowHighlightMax .TableCellLink,
  .rowHighlightOther .TableCellLink {
    color: white !important;
    cursor: pointer !important;
  }

  .ui.selectable.table tbody .rowHighlightOther:hover {
    background: rgba(255, 126, 5, 0.9) !important;
    color: white !important;
  }

  .ui.selectable.table tbody .highlightedRow:hover {
    background: #f14000 !important;
    color: white !important;
  }
}

.TableLoadingDiv {
  margin-top: 50px !important;
}
