// #LabelTextCheckbox,
// .LabelTextCol {
//   float: right !important;
// }
.SplitPanesWrapper {
  width: 100% !important;
  min-height: 90vh !important;
  padding-left: 20px !important;

  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .Resizer.horizontal {
    padding: 1px 0px !important;
    height: 16px;
    margin: -8px 0;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-bottom: 8px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
    z-index: 4 !important;
  }

  .Resizer.horizontal:hover {
    border-top: 8px solid var(--color-primary);
    border-bottom: 8px solid var(--color-primary);
  }

  .Resizer.vertical {
    padding: 0px 1px !important;
    width: 16px;
    margin: 0 -8px;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 8px solid var(--color-primary);
    border-right: 8px solid var(--color-primary);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }

  .PlotsWrapper {
    padding-top: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #SVGSplitContainer {
    // margin: 0px 15px 0px 15px !important;
    .ShowBlock {
      margin-right: 30px;
    }
  }

  .PlotInstructions {
    height: 100%;
  }

  .PlotInstructionsText {
    text-align: center !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ViolinPlotDiv {
    min-height: 350px !important;
    padding-top: 0px;
    // padding-top: 40px !important;
  }

  .ViolinPlotTab {
    // height: 100% !important;
    margin-top: 0px !important;
    border: none !important;
    padding: 0px !important;
  }

  .TableResultsTab {
    // min-height: 400px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    border: none !important;
  }

  .ViolinAndTableTabsDiv {
    height: 100% !important;
  }

  .ViolinAndTableMenu {
    direction: ltr !important;
    // position: absolute !important;
    z-index: 3 !important;
    left: 0 !important;
    // margin-left: 25px !important;
    // width: 90% !important;
    background: white !important;
    // border-bottom: none !important;
  }

  // .BottomSplitPaneContainer,
  #ViolinAndTableSplitContainer {
    overflow-x: hidden !important;
    // overflow-y: scroll !important;
    // min-height: 350px !important;
    height: 100% !important;
    // direction: rtl !important;
    overflow-y: overlay !important;
  }

  #TableResultsTab .QHGrid {
    margin-top: 0px !important;
    input {
      border: 1px solid lightgrey !important;
    }
  }

  #TableResultsTab .QHGridHeaderDiv {
    min-height: 275px !important;
    height: 100% !important;
  }

  #BarcodeChartContainer {
    width: 100% !important;
    .ExportButtonGroup {
      padding-bottom: 10px;
    }
  }

  #BarcodeChart {
    width: 100% !important;
  }

  .export-violin {
    margin: 4px 25px 2px 0px;
    position: absolute;
    right: 0;
  }

  @media (min-width: 1599px) {
    .export-violin {
      margin: 4px 26px 2px 0px !important;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  #EnrichmentPlotSVGDiv {
    // max-height: 55vh !important;
    // height: 55vh !important;
    padding-right: 45px !important;
    svg {
      height: 100% !important;
      width: inherit !important;
    }
  }
}
