.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

 .Resizer.horizontal {
    padding: 1px 0px !important;
    height: 16px;
    margin: -8px 0;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-bottom: 8px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 8px solid #FF4400;
    border-bottom: 8px solid #FF4400;
}

.Resizer.vertical {
    padding: 0px 1px !important;
    width: 16px;
    margin: 0 -8px;
    border-left: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 8px solid #FF4400;
    border-right: 8px solid  #FF4400;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.ThreePlotsWrapper {
    padding-top: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.SplitPanesWrapper {
    width: 100% !important;
    min-height: 90vh !important;
    padding-left: 20px !important;
    // margin-top: 33px !important;
}

.SVGSplitContainer {
    margin: 0px 15px 0px 15px !important;
}