body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

.Toastify__toast--success {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-primary-gradient) 100.05%
  );
}

.Toastify__toast--error {
  background: linear-gradient(
    90deg,
    var(--color-primary) -2.66%,
    var(--color-primary-gradient) 99.83%
  );
}
