body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

.Toastify__toast--success {
  background: linear-gradient(90deg, #1678c2 0%, #1f9eff 100.05%);
}

.Toastify__toast--error {
  background: linear-gradient(90deg, #ff4400 -2.66%, rgb(255, 126, 56) 99.83%);
}
