.PepplotContainer {
  padding: 0px !important;
}

.PepplotContainer ::-webkit-scrollbar {
  width: 20px !important;
  height: 20px !important;
}

.PepplotContainer ::-webkit-scrollbar-thumb:vertical {
  // border-radius: 0 !important;
  /* background: var(--color-primary) !important; */
  // background: #0f0000 !important;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6) !important; */
  box-shadow: 0px 2px 0px var(--color-primary) !important;
}

.PepplotContainer ::-webkit-scrollbar-thumb:horizontal {
  // border-radius: 0 !important;
  /* background: var(--color-primary) !important; */
  // background: #0f0000 !important;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6) !important; */
  box-shadow: 2px 0px 0px var(--color-primary) !important;
}

// #PepplotGrid .highlightedRow {
//   background: var(--color-primary) !important;
//   color: white !important;
// }

// #PepplotGrid .highlightedRow .TableCellLink {
//   color: white !important;
//   cursor: pointer !important;
// }

.ui.red.button, .ui.red.buttons .button {
  background-color: var(--color-primary) !important;
}
