.volcanoRect{
    fill: #838383;
    opacity: 0;
};

.volcanoPlotContainer{
    padding-top: 10px;
}

.volcanoPlotSVG{
    position: relative;
    display: block;
    margin: auto;
}

.volcanoPlotYAxis{
    stroke: #838383;
    stroke-width: 2px;
}
.volcanoPlotXAxis{
    stroke: #838383;
    stroke-width: 2px;
}
.axisLabel{
    font-weight: bold;
}