th.dragging > * {
  pointer-events: none;
}
.QHGrid--generalSearch {
  margin-right: 5px;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 0.28571429rem;
  &#{&}#{&}#{&} {
    input {
      border: 0;
    }
    button.ui.button {
      border-radius: 0 0.28571429rem 0.28571429rem 0;
    }
  }
}
.QHGrid--body thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  & .dropdown .menu {
    top: 150%;
  }
}
.QHGrid .QHGrid--body.QHGrid--body.QHGrid--body.QHGrid--body.QHGrid--body thead th {
  background: #f9fafb;
}
.QHGrid .QHGrid--body.QHGrid--body.QHGrid--body.QHGrid--body thead th:hover {
  background: darken($color: #f9fafb, $amount: 4);
}
.QHGrid .QHGrid--body.QHGrid--body.QHGrid--body.QHGrid--body thead th.sorted {
  background: darken($color: #f9fafb, $amount: 4);
  &:hover {
    background: darken($color: #f9fafb, $amount: 6);
  }
}
.QHGrid .dimmer.ui {
  bottom: 66px;
  top: unset !important;
  height: 65vh;
  left: 14px !important;
  right: 14px !important;
  width: unset;
}
.QHGrid .QHGrid--body.striped.table tbody tr:nth-child(2n) {
  filter: brightness(0.96);
}

.QHGrid .QHGrid--body tbody > tr > td {
  border-top: 2px solid rgba(34, 36, 38, 0.1);
}
// .QHGrid .QHGrid--body tbody>tr:first-child>td {
//   border-top: none;
// }
.QHGrid .QHGrid--body thead .ui.multiple.dropdown {
  padding: 0.22619048em 0 0.22619048em 0.35714286em;
}
.QHGrid .QHGrid--body thead th {
  font-size: 1.05em;
}
.ui.popup a.item .ui.ui.button.QHGrid--ButtonClear.icon {
  margin: 0 !important;
  font-size: 0.78571429rem !important;
  background: none;
  & > .icon {
    margin: 0 !important;
    font-size: 0.78571429rem !important;
  }
  &:first-of-type {
    margin: 0px 2px !important;
  }
  &:hover {
    background: #e0e1e2;
  }
}
i.icon.quickViewIcon {
  float: unset !important;
  margin: 0 0.75em 0 0 !important;
}
:root {
  --AbbviePrimary: rgb(7, 29, 73);
  --AbbvieBlue: rgb(0, 75, 255);
  --AbbviePurple: rgb(146, 0, 230);
  --AbbvieTeal: rgb(26, 201, 168);
  --AbbvieOrange: rgb(255, 131, 7);
}
.quickViewIcon {
  &.AbbvieBlue {
    color: var(--AbbvieBlue);
  }
  &.AbbviePurple {
    color: var(--AbbviePurple);
  }
  &.AbbvieTeal {
    color: var(--AbbvieTeal);
  }
  &.AbbvieOrange {
    color: var(--AbbvieOrange);
  }
}
// .QHGrid .QHGrid--body.striped.table tbody tr:hover {
//   filter: brightness(0.96);
// }

// .QHGrid--generalSearch.ui.input.action > button.ui.button {
//   border-radius: 0 0.28571429rem 0.28571429rem 0;
// }
// .QHGrid--generalSearch.ui.input > input {
//   border: 0;
// }
